<div class="form-search">
  <form action="?" method="post">
    <input type="checkbox" name="form__toggle" id="form__toggle" class="form__toggle">

    <div class="form__body">
      <div class="form__cols">
        <div class="form__col">
          <div class="form__row">
            <label for="search-inventory" class="form__label hidden">INVENTORY</label>

            <div class="form__controls">
              <div class="select select--selected">
                <select name="search-inventory" id="search-inventory">
                  <option value="">INVENTORY</option>

                  <option value="1" selected>SEATING</option>

                  <option value="2">Option 2</option>

                  <option value="3">Option 3</option>

                  <option value="4">Option 4</option>

                  <option value="5">Option 5</option>
                </select>
              </div><!-- /.select -->
            </div><!-- /.form__controls -->
          </div><!-- /.form__row -->
        </div><!-- /.form__col -->

        <div class="form__col">
          <div class="form__row">
            <label for="search-color" class="form__label hidden">COLOR</label>

            <div class="form__controls">
              <div class="select">
                <select name="search-color" id="search-color">
                  <option value="">COLOR</option>

                  <option value="1">Option 1</option>

                  <option value="2">Option 2</option>

                  <option value="3">Option 3</option>

                  <option value="4">Option 4</option>

                  <option value="5">Option 5</option>
                </select>
              </div><!-- /.select -->
            </div><!-- /.form__controls -->
          </div><!-- /.form__row -->
        </div><!-- /.form__col -->

        <div class="form__col">
          <div class="form__row">
            <label for="search-price" class="form__label hidden">PRICE</label>

            <div class="form__controls">
              <div class="select">
                <select name="search-price" id="search-price">
                  <option value="">PRICE</option>

                  <option value="1">Option 1</option>

                  <option value="2">Option 2</option>

                  <option value="3">Option 3</option>

                  <option value="4">Option 4</option>

                  <option value="5">Option 5</option>
                </select>
              </div><!-- /.select -->
            </div><!-- /.form__controls -->
          </div><!-- /.form__row -->
        </div><!-- /.form__col -->

        <div class="form__col">
          <div class="form__row">
            <label for="search-curation" class="form__label hidden">CURATION</label>

            <div class="form__controls">
              <div class="select">
                <select name="search-curation" id="search-curation">
                  <option value="">CURATION</option>

                  <option value="1">Option 1</option>

                  <option value="2">Option 2</option>

                  <option value="3">Option 3</option>

                  <option value="4">Option 4</option>

                  <option value="5">Option 5</option>
                </select>
              </div><!-- /.select -->
            </div><!-- /.form__controls -->
          </div><!-- /.form__row -->
        </div><!-- /.form__col -->

        <div class="form__col">
          <div class="form__row">
            <label for="search-material" class="form__label hidden">MATERIAL</label>

            <div class="form__controls">
              <div class="select">
                <select name="search-material" id="search-material">
                  <option value="">MATERIAL</option>

                  <option value="1">Option 1</option>

                  <option value="2">Option 2</option>

                  <option value="3">Option 3</option>

                  <option value="4">Option 4</option>

                  <option value="5">Option 5</option>
                </select>
              </div><!-- /.select -->
            </div><!-- /.form__controls -->
          </div><!-- /.form__row -->
        </div><!-- /.form__col -->

        <div class="form__col">
          <div class="form__row">
            <label for="search-sort" class="form__label hidden">SORT</label>

            <div class="form__controls">
              <div class="select">
                <select name="search-sort" id="search-sort">
                  <option value="">SORT</option>

                  <option value="1">Option 1</option>

                  <option value="2">Option 2</option>

                  <option value="3">Option 3</option>

                  <option value="4">Option 4</option>

                  <option value="5">Option 5</option>
                </select>
              </div><!-- /.select -->
            </div><!-- /.form__controls -->
          </div><!-- /.form__row -->
        </div><!-- /.form__col -->
      </div><!-- /.form__cols -->

      <div class="form__actions">
        <button type="submit" class="link-primary form__btn">Apply</button>
      </div><!-- /.form__actions -->
    </div><!-- /.form__body -->

    <div class="form__foot">
      <label for="form__toggle" class="link-primary form__toggler"><span>SHOW</span><span>HIDE</span> FILTERS</label>
    </div><!-- /.form__foot -->
  </form>
</div><!-- /.form-search -->