<div class="product__actions-aside">
  <span class="product__subscribe">
    <a href="#popup-subscribe" class="popup-link">Get Notified</a> When This <br>Product Is Back In Stock.
  </span>
</div><!-- /.product__actions-aside -->

<div class="popup popup--subscribe mfp-hide" id="popup-subscribe">
  <div class="popup__content">
    <div class="form form--inquire">
      <form action="?" method="post">
        <div class="form__head">
          <h3>We'Re Sorry.</h3>

          <p>This item is currently out of stock. Fill out the form below <br>and we’ll notify you when it has been re-stocked.</p>
        </div><!-- /.form__head -->

        <div class="form__body">
          <div class="form__row">
            <label for="field-email3" class="hidden">Email</label>

            <div class="form__controls">
              <input type="email" class="field" name="field-email3" id="field-email3" value="" placeholder="Email">
            </div><!-- /.form__controls -->
          </div><!-- /.form__row -->
        </div><!-- /.form__body -->

        <div class="form__actions">
          <input type="submit" value="Submit" class="link-primary link-primary--alt form__btn">
        </div><!-- /.form__actions -->
      </form>
    </div><!-- /.form form-/-inquire -->
  </div><!-- /.popup__content -->
</div><!-- /.popup popup-/-subscribe -->