<div class="faqstyle grid" style="">
  <div class="faqstyle-left grid__item one-third">
    <ul>
      <li><a href="/pages/faqs-1">FAQ'S</a>
      <li><a href="/pages/contact">CONTACT</a>
      <li><a href="/pages/careers">CAREERS</a>
      <li><a href="">ORDERING INFORMATION</a>
      <li><a href="">SHIPPING INFORMATION</a>
      <li><a href="">RETURNS &amp; EXCHANGES</a>
      <li><a href="">QUALITY &amp; CARE</a>
      <li><a href="">TERMS</a>
    </ul>
  </div>
  
  <div class="faqstyle-right grid__item two-thirds">

    <div class="faqstyle-title">{{ page.title }}</div>

      {{ page.content }}
    
  </div>
</div>