<div class="section faq-section">
  <div class="shell">
    <h3>{{ page.title | upcase}}</h3>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>

<style>
  .rte{
    margin: 60px auto;
  }
  .rte p{
    font-size: 18px;
  }
</style>